
body {
  background-image: url('stills/moon.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

a {
    text-decoration: none;
}
a:link, a:visited {
     color: rgb(224, 209, 156);
}
a:hover {
    color: rgb(185, 153, 124);
}

   h1 {
     display: block;
      font-family: 'Zen Dots', cursive;
       font-size: 1em;
       font-weight: light;
       text-align:center;
       line-height: .75;
       color: rgb(249, 235, 163);
       position: fixed;
       width:100%;
       padding-bottom: 40px;
       padding: 5px 50px 75px 50px;

       top: 20px;
       /* transform: translateY(-50%); */
       left:0;

   }



body::-webkit-scrollbar {
      display: none;
    }

.randomp {
    /* grid-area: 1 / 4; */
    z-index: 1;
    width:200px;
    height:20%;
    position: fixed;
    z-index: 9;
    border-radius: 3%;
}


img {
    width: 100%;
}


.randomp:hover {
    -webkit-animation: disappear 0.5s ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes disappear{
    0% {opacity: 1}
    100% { opacity: 0}
}

.
